<div class="well well-lg hidden-xs">
    <h3>Aceberg系统列表:</h3>
    <ul class="list-group">
        <!--<li class="list-group-item">-->
            <!--<a href="http" >-->
                <!--<i class="fa fa-cogs"></i> [[#{cas.login.resources.dashboard}]]-->
            <!--</a>-->
        <!--</li>-->
        <li class="list-group-item">
            <a href="http://smmonitor.local.jbone.cn" >
                <i class="fa fa-cogs"></i> Aceberg监控系统
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://smadmin.local.jbone.cn" >
                <i class="fa fa-cogs"></i> Aceberg服务管理系统
            </a>
        </li>

        <li class="list-group-item">
            <a href="http://cmsadmin.local.jbone.cn" >
                <i class="fa fa-cogs"></i> Aceberg CMS后台管理系统
            </a>
        </li>

        <li class="list-group-item">
            <a href="http://jbone.cn" >
                <i class="fa fa-cogs"></i> Aceberg CMS前端展示系统
            </a>
        </li>

        <li class="list-group-item">
            <a href="http://sysadmin.local.jbone.cn" >
                <i class="fa fa-cogs"></i> Aceberg系统管理
            </a>
        </li>


    </ul>
</div>
